<div class="container">
  <%= form_for @invoice_header, url: {action: action} do |f| %>
    <div class="form-group">
      <%= f.label :nombre_cliente %>
      <%= f.text_field :nombre_cliente, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :apellidos_cliente %>
      <%= f.text_field :apellidos_cliente, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :dni %>
      <%= f.text_field :dni, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :direccion %>
      <%= f.text_field :direccion, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :telefono %>
      <%= f.text_field :telefono, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :tasas %>
      <%= f.text_field :tasas, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :total %>
      <%= f.text_field :total, class: 'form-control' %>
    </div>
    <br />
    <%= f.submit 'Guardar', class: 'btn btn-primary' %>    
  <% end %>
</div>