<div class="container">
    <h1>Detalle Factura</h1>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title"><%= @invoice_header.nombre_cliente + @invoice_header.apellidos_cliente %> </h5>
            <div class="row">
                <div class="col-sm">
                    DNI
                </div>
                <div class="col-sm">
                    <%= @invoice_header.dni %>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    Dirección
                </div>
                <div class="col-sm">
                    <%= @invoice_header.direccion %>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    Teléfono
                </div>
                <div class="col-sm">
                    <%= @invoice_header.telefono %>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    Email
                </div>
                <div class="col-sm">
                    <%= @invoice_header.email %>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    Tasas
                </div>
                <div class="col-sm">
                    <%= @invoice_header.tasas %>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    Total
                </div>
                <div class="col-sm">
                    <%= @invoice_header.total %>
                </div>
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre Producto</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio unidad</th>
                <th scope="col">Color</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        
        <tbody>
            <% @invoice_lines.each do |linea| %>
                <tr>
                    <td><%= link_to linea.nombre_producto, controller: :invoice_lines, action: :details %></td>
                    <td><%= linea.cantidad.to_s %></td>
                    <td><%= linea.precio_unidad.to_s %></td>
                    <td><%= linea.color %></td>
                    <td><%= linea.total.to_s %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>