<div class="container">
    <h1>Facturas</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre Cliente</th>
                <th scope="col">Apellidos</th>
                <th scope="col">DNI</th>
                <th scope="col">Dirección</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Email</th>
                <th scope="col">Tasas</th>
                <th scope="col">Total</th>
                <th scope="col">Operaciones</th>
            </tr>
        </thead>
        
        <tbody>
            <% @invoice_headers.each do |factura| %>
                <tr>
                    <td><%= factura.nombre_cliente %></td>
                    <td><%= factura.apellidos_cliente %></td>
                    <td><%= factura.dni %></td>
                    <td><%= factura.direccion %></td>
                    <td><%= factura.telefono %></td>
                    <td><%= factura.email %></td>
                    <td><%= factura.tasas.to_s %></td>
                    <td><%= factura.total.to_s %></td>
                    <td>
                        <%= link_to 'Detalle', action: :details, id: factura.id %>
                        <%= link_to 'Editar', action: :edit, id: factura.id %>
                        <%= link_to 'Eliminar', factura, method: :delete, data: { confirm: '¿Seguro que desea eliminar esta factura?' } %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>