<div class="container">
  <%= form_for @invoice_line, url: {action: action} do |f| %>
    <div class="form-group">
      <%= f.label :nombre_producto %>
      <%= f.text_field :nombre_producto, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :cantidad %>
      <%= f.text_field :cantidad, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :precio_unidad %>
      <%= f.text_field :precio_unidad, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :color %>
      <%= f.text_field :color, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :total %>
      <%= f.text_field :total, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :invoice_header_id %>
      <%= f.select :invoice_header_id, @invoice_headers, {prompt: "Seleccione una factura"}, class: "form-control" %>
    </div>
    <br />
    <%= f.submit 'Guardar', class: 'btn btn-primary' %>    
  <% end %>
</div>