<div class="container">
    <h1>Detalle Línea</h1>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"><%= @invoice_line.nombre_producto %> </h5>
            <div class="row">
                <div class="col-sm">
                    Cantidad
                </div>
                <div class="col-sm">
                    <%= @invoice_line.cantidad.to_s %>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    Precio unidad
                </div>
                <div class="col-sm">
                    <%= @invoice_line.precio_unidad.to_s %>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    Color
                </div>
                <div class="col-sm">
                    <%= @invoice_line.color %>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    Total
                </div>
                <div class="col-sm">
                    <%= @invoice_line.total.to_s %>
                </div>
            </div>
        </div>
    </div>
</div>