<div class="container">
    <h1>Líneas</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre Producto</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio unidad</th>
                <th scope="col">Color</th>
                <th scope="col">Total</th>
                <th scope="col">Factura</th>
                <th scope="col">Operaciones</th>
            </tr>
        </thead>
        
        <tbody>
            <% @invoice_lines.each do |linea| %>
                <tr>
                    <td><%= linea.nombre_producto %>
                    <td><%= linea.cantidad.to_s %>
                    <td><%= linea.precio_unidad.to_s %>
                    <td><%= linea.color %>
                    <td><%= linea.total.to_s %>
                    <td><%= link_to linea.invoice_header.nombre_cliente, controller: :invoice_headers, action: :edit, id: linea.id %>
                    <td>
                        <%= link_to 'Detalle', action: :details, id: linea.id %>
                        <%= link_to 'Editar', action: :edit, id: linea.id %>
                        <%= link_to 'Eliminar', linea, method: :delete, data: { confirm: '¿Seguro que desea eliminar esta línea?' } %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>