<!DOCTYPE html>
<html>
  <head>
    <title>Facturas</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% content_for :navbar do %>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/invoice_headers">Factech</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Facturas
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to 'Lista Facturas', {controller: :invoice_headers, action: :index}, class: "dropdown-item" %>
                <%= link_to 'Nueva Factura', {controller: :invoice_headers, action: :new}, class: "dropdown-item" %>
              </div>              
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Líneas
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to 'Lista Líneas', {controller: :invoice_lines, action: :index}, class: "dropdown-item" %>
                <%= link_to 'Nueva Línea', {controller: :invoice_lines, action: :new}, class: "dropdown-item" %>
              </div>              
            </li>
          </ul>
        </div>
      </nav>
    <% end %>
  </head>

  <body>
    <%= yield :navbar %>
    <%= yield %>
  </body>
</html>
